.bodyContainer {
  margin: 0 auto;
  max-width: 2000px;
  width: 100%;
}
.appLogo {
  display: block;
  height: 130px;
  margin-right: 15px;
}
.header {
  display: flex;
  background-color: #efebe5;
  justify-content: center;
  box-shadow: 10px 5px 5px #ff7e7324;
}

.navItems {
  display: flex;
  list-style: none;
  margin-top: 36px;
}
.listItems {
  margin: 5px;
  padding: 15px 30px;
  font-size: 20px;
  color: #464040;
}
.eczar-SemiBold {
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.eczar-normal {
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
}
.text-font {
  color: #000000;
  font-size: 20px;
  letter-spacing: 0.5px;
}
.bgImage {
  width: 100%;
  height: auto;
}
.bodyContainer {
  position: relative;
}
.centered {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #efebe5;
}
.searchBar {
  background: #ffffff52 url("./src/images/search.svg") no-repeat 97%;
  width: 65%;
  height: 56px;
  border-radius: 18px;
  border: none;
  background-size: 28px;
  padding: 0px 25px;
  color: #efebe5;
  font-size: 25px;
}
input:focus-visible {
  outline: 0px;
}
::placeholder {
  color: #efebe5;
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  opacity: 1; /* Firefox */
}
.res-card {
  border: 1px solid #efebe5;
  border-radius: 15px;
  cursor: pointer;
  height: 360px;
}
.vendor-list-revamp {
  grid-gap: 60px;
  display: grid;
  grid-template-rows: minmax(180px, 1fr);
  list-style: none;
  padding: 0px 40px;
}
.res-name-rate {
  display: flex;
  justify-content: space-between;
}
.vendor-tile-info {
  margin: 12px;
  margin-top: 8px;
  font-size: x-large;
  font-weight: 100;
}
.vendor-image-tile {
  width: 100%;
  height: auto;
  border-radius: 14px 14px 0 0;
}
.time-tile {
  font-size: large;
  font-weight: 200;
  display: flex;
  justify-content: flex-start;
}
.vendor-list-li {
  transition: transform 0.2s;
  overflow: hidden;
}
.vendor-list-li:hover {
  .vendor-image-tile {
    transform: scale(1.05);
  }
}
.text-style-card {
  color: #6d6d6d;
  font-size: large;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .bgImage {
    width: 100%;
    max-height: 800px;
  }
  .vendor-list-revamp {
    grid-template-columns: repeat(6, 1fr);
  }
  .vendor-list-revamp > li {
    grid-column: span 2;
  }
}
@media only screen and (min-width: 1200px) {
  .vendor-list-revamp {
    grid-template-columns: repeat(12, 1fr);
  }
  .vendor-list-revamp > li {
    grid-column: span 3;
  }
}
